---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<section>
  <h2>
    {title}
  </h2>
  <slot /> 
</section>

<style>
  @reference "../styles/global.css";

  section { @apply mb-1 last:mb-0; }

  h2 {
    @apply text-xl font-bold text-accent border-b-2 border-slate-200 mb-1 
    uppercase tracking-wider;
  }
  
</style>
